
.main{
  display: grid;
  grid-template-areas: 
    "player home empty";
  grid-template-columns: 20% 1fr 20%;  
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
}

.topbar{
  display: flex;
  align-items:center;
  align-content: stretch;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
}

.topbar button {
  padding: 1rem 1.5rem;
  margin: 1rem;
  background-color: transparent;
  font-size: 10px;
  min-width: 100%;
  color: white;
  transition: 0.25s backgroud-color;

}

.topbar button:hover {
  background-color: white;
  color: black;
  transition: 0.25s backgroud-color;
  cursor: pointer;
}

.pageWrapper {
  display:grid;
  grid-template-areas: 
    "topbar"
    "main";
  grid-template-rows: 5% 1fr;
  height: 100vh;
  margin:0;

}

.contentWrapper{
  display: flex;
  align-items:center;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.contents{
  display:flex;
  flex-direction: column;
  align-items:center;
  align-self: center;
  width: 100%;

}

.contents h1 {
  align-self: center;
  letter-spacing: 1.5rem;
  font-weight: 500;
  padding: 2rem 0;
  font-size: 2rem;
}

.contents h2{
  align-self: center;
  letter-spacing: 0.2rem;
  font-weight: 500;
  padding: 0.7rem 0.2rem;
  font-size: 1rem;
}


.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons button {
  padding: 1.5rem 2rem;
  margin: 1rem;
  background-color: transparent;
  border: solid white 1px;
  font-size: 12px;
  color: white;
  transition: 0.25s backgroud-color;

}

.buttons button:hover {
  background-color: white;
  color: black;
  transition: 0.25s backgroud-color;
  cursor: pointer;
}

.video {
  background-attachment: fixed;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  object-fit: scale-down;
  overflow-y: hidden;
}

.homeContainer {
  overflow-x: hidden;
  overflow-y: hidden;
}

.player {
  padding: 1rem 0;
  overflow:auto;
}

.blog {
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 0;
  width:100em;

}

.blog p{
  width: 50%;
  letter-spacing: 0.1rem;
  font-weight: 400;
  padding: 1rem 1rem;
  font-size: 1rem;
  background-color: black;
}

.blog h2{
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 1rem 0;
  font-size: 1rem;
}

.blog h3{
  letter-spacing: 0.1rem;
  font-weight: 500;
  padding: 0.5rem 0;
  font-size: 0.9rem;
}

.textbox{
  align-self: center;
  justify-items: center;
  min-width:30%;
  background-color: black;
  padding: 0 0.5rem;
}
